#container{
 padding: 20px; width: 50%; display: block; background: #FAFAFA; margin: 0 auto;
}
form{
 padding-left: 30%;
}
.center{
  text-align: center;
}
#submit{
 display:block;
  margin: 0 auto;
}
h1{
 text-align: center;
}
